<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/main.css" />
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="alternate" type="application/atom+xml" title="" href="/feed/" />
		<link rel="author" href="{{ site.contact }}" />
		
		<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<!--[if lt IE 8]> <script type="text/javascript" src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js"></script><![endif]-->
	</head>
	<body>
		<header>
			<h1>{{ site.title }}</h1>
			<h2>{{ site.description }}</h2>
			<nav>
				<ul>
					<li></li>
					<li></li>
				</ul>
			</nav>
		</header>
		
		{{ body }}
		
		<footer>
			Copyright &copy; <a href="{{ site.contact }}">Bert JW Regeer</a>. All rights reserved.
		</footer>
	</body>
</html>