{% spaceless %}
<form method="POST" action="{{ site.appurl }}{{ form_action }}">
	<fieldset>
		<legend>{{ form_legend }}</legend>
		{% for field in form %}
			{% if not field.is_hidden %}
				{{ field.label_tag }}
				{% if field.errors %}
					<span class="errors">
					{% for error in field.errors %}
						{{ error|escape }}
					{% endfor %}
					</span>
				{% endif %}
			{% endif %}
			{{ field }}
		{% endfor %}
		
		{% if form_id %}
		<input type="hidden" name="id" value="{{ form_id }}">
		{% endif %}
	<input type="submit" name="Submit">
	</fieldset>
</form>
{% endspaceless %}